@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600;700&display=swap');

:root {
  --main-bg-color: #1a1a2e;
  --text-color: white;
  --result-bg-color: rgba(255, 255, 255, 0.1);
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5vw 0 2vw 3vw;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content {
  flex: 1;
  max-width: 50%;
}

h1 {
  font-size: 48px;
  white-space: nowrap;
  margin-top: 15px;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  line-height: 1.4;
}


.image img {
  max-width: 100%;
  height: auto;
}

.results-container {
  width: 100%;
  max-height: calc(100vh - 100px); /* 뷰포트 높이에서 상단 여백을 뺀 값 */
  height: auto; /* 내용에 따라 자동으로 높이 조절 */
  overflow-y: auto; /* 내용이 max-height를 초과할 경우 스크롤 생성 */
  background-color: var(--result-bg-color);
  border-radius: 5px;

}

.image {
  flex: 1;
  padding-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100px; /* 최소 높이 설정 */
}

.results-title {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.results-box {
  display: flex;
  flex-direction: column;
}

.endpoint-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result-group {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 5px;
  border-radius: 5px;
}

.result-item {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: var(--text-color);
  margin: 0;
  padding: 3px 0;
  line-height: 1.2;
  display: block;
}

@media (max-width: 768px) {
  .app {
    padding: 15px;
    max-width: 100%;
  }

  main {
    flex-direction: column;
  }
  
  .content {
    max-width: 100%;
  }

  h1 {
    font-size: 32px;
    text-align: center;
    white-space: normal;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
  }

  .image {
    margin-top: 20px;
  }

  .results pre {
    font-size: 14px;
    padding: 12px;
    line-height: 1.4;
  }
}
