.results {
  margin-top: 20px;
}

.results h2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.results pre {
  font-family: 'Noto Sans KR', monospace;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-break: break-word;
}

.search-form-container {
  width: 100%;
  max-width: 400px;
}

.search-form {
  display: flex;
  flex-direction: column;
  background-color: transparent; /* 배경색 제거 */
  border-radius: 5px;
  overflow: hidden;
  width: 100%; /* 전체 너비 사용 */
}

.select-wrapper {
  width: 100%;
  margin-bottom: 1.5vw;
}

select, input[type="date"] {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: none;
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

select:focus, input[type="date"]:focus {
  outline: none;
}

.search-button {
  padding: 15px;
  background-color: #26c6da;
  color: white;
  border: none;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  border-radius: 5px;
}

.search-button:hover {
  background-color: #00bcd4;
}

@media (max-width: 768px) {
  .search-form {
    width: 100%;
  }
  
  .search-button {
    width: 100%;
    font-size: 16px;
  }
}
